.DirectoryInput-main {
    display: flex;
}

/* align with bottom */
.DirectoryInput-textField {
    width: 100%;
    margin: 0 !important;
}

.DirectoryInput-submitButton {
    align-self: flex-end;
    width: 120px;
}