{
  "presets": [
    [
      "env",
      {
        "targets": "electron"
      }
    ],
    "stage-2",
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "jsdoc-to-assert",
        "power-assert"
      ]
    }
  }
}
