osx_image: xcode7.3

sudo: required
dist: trusty

language: c

matrix:
  include:
    - os: osx
    - os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang

addons:
  apt:
    packages:
      - libgnome-keyring-dev
      - icnsutils

install:
- nvm install 6
- npm install -g yarn
- npm install -g lerna
- lerna init && lerna exec --concurrency 1 yarn install
- yarn install
- ./node_modules/.bin/install-app-deps
script:
- npm test
- $(npm bin)/lerna run test
after_success:
- DEBUG=electron-builder npm run release

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"